<!DOCTYPE html>
<html lang="en">
@Html.AntiForgeryToken()
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="A save editor for Animal Crossing for GameCube.">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/acgc-se/css/acgc-se.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/acgc-se/css/toma-bubble.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <!--Set Background-->
    <script>
        var body = document.querySelector("body");
        var month = new Date().getMonth() + 1;
        var day = new Date().getDate();

        if ((month === 9 && day >= 16) || month === 10 || month === 11 || (month === 12 && day <= 9)) {
            body.classList.add("fall");
        }
        else if ((month === 12 && day >= 10) || month === 1 || (month === 2 && day <= 24)) {
            body.classList.add("winter");
        }
        else {
            body.classList.add("summer");
        }
    </script>
</head>

<body>
    <!--HEADER-->
    <header class="header border-bottom box-shadow mb-3">
        <div class="container header-container d-flex">
            <label class="acgc-title">@ViewData["HeaderTitle"]</label>
            <div class="header-right-side">
                <label style="font-size:10px; margin-top:2px; margin-right:4px;">@ViewData["Version"]</label>
                <form id="uploadForm" method="post" enctype="multipart/form-data">
                    <button type="button" id="downloadButton" style="display:none;" onclick="downloadEditedSave()"></button>
                    <label for="downloadButton" id="downloadButtonLabel">Download Edited Save</label>

                    <input type="file" id="fileUpload" name="fileUpload" accept=".gci" onchange="uploadSave()">
                    <label for="fileUpload" id="fileUploadLabel">Upload Save</label>
                </form>
            </div>
        </div>
    </header>

    <!--BODY-->
    <div class="container" style="margin:20px;">

        <!-- TOOLTIP BUBBLE FOR INVENTORY -->
        <div class="ac-bubble">
            <div class="ac-bubble-tooltip">
                <div class="ac-bubble-triangle">
                    <img src="acgc-se/ui-icons/bubble-triangle.png">
                </div>
                <div class="ac-bubble-container">
                    <div class="ac-bubble-tl">
                        <img src="acgc-se/ui-icons/bubble-corner.png">
                    </div>
                    <div class="ac-bubble-tr">
                        <img src="acgc-se/ui-icons/bubble-corner.png">
                    </div>
                    <div class="ac-bubble-mc">
                        <div class="ac-bubble-content">
                            <p>Present (Buried Pitfall (Bent & Angled Down-Left Slightly))</p>
                        </div>
                    </div>
                    <div class="ac-bubble-bl">
                        <img src="acgc-se/ui-icons/bubble-corner.png">
                    </div>
                    <div class="ac-bubble-br">
                        <img src="acgc-se/ui-icons/bubble-corner.png">
                    </div>
                </div>
            </div>
        </div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--FOOTER-->
    <footer class="border-top footer text-muted">
        <div class="container">
            <style>
                ul.horizontal-list {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                }

                ul.horizontal-list li {
                    display: inline-block;
                    margin-right: 30px;
                }

                ul.horizontal-list a {
                    color: blue;
                    text-decoration: none;
                    font-weight: 700;
                }
            </style>

            <ul class="horizontal-list">
                <li><a href="" target="_blank">Submit Feedback</a></li>
                <li><a href="https://github.com/phil-macrocheira" target="_blank">Github</a></li>
            </ul>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>